@import "../fonts/fonts.css";
@import "_reset";

// Миксины

$maxWidth: 1280;
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(
		#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
	);
}

$maxWidth02: 1920;
@mixin adaptive-font-desktop($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth02: $maxWidth02 - 1280;
	font-size: calc(
		#{$mobSize + px} + #{$addSize} * ((100vw - 1280px) / #{$maxWidth02})
	);
}

@mixin adaptive-box($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth02: $maxWidth02 - 1280;
	height: calc(
		#{$mobSize + px} + #{$addSize} * ((100vw - 1280px) / #{$maxWidth02})
	);
}

@mixin adaptive-width($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth02: $maxWidth02 - 1280;
	width: calc(
		#{$mobSize + px} + #{$addSize} * ((100vw - 1280px) / #{$maxWidth02})
	);
}

/* ------------------------ Общие стили ------------------------ */

html,
body {
	overflow-x: hidden;
}

h1 {
	font-family: "Gilroy-Semibold", normal;
	text-transform: uppercase;
	line-height: 74.4%;
}

h2 {
	font-family: "Gilroy-Semibold", normal;
	text-transform: lowercase;
}

h3 {
	font-family: "Gilroy-Semibold", normal;
	text-transform: capitalize;
}

a {
	color: #fff;
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.wrapper {
	width: 100%;
	background-color: #217aff;
	font-family: "Gilroy-Regular", normal;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.wrapper--pink {
	background-color: #fa64c7;
}

.wrapper--yellow {
	background-color: #ffbf1b;
}

@mixin container-width($margin) {
	$margins: $margin * 2;
	width: calc(100vw - #{$margins + px});
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	@include container-width(100);
	margin: 0 auto;
	@media (min-width: 1920px) {
		@include container-width(160);
	}
	@media (max-width: 1020px) {
		@include container-width(50);
	}
	@media (max-width: 760px) {
		@include container-width(20);
	}
}

.title {
	@include adaptive-font(86, 60);
	@media (min-width: 1280px) {
		@include adaptive-font-desktop(130, 86);
	}
}

.text {
	@include adaptive-font(17, 15);
	@media (min-width: 1280px) {
		@include adaptive-font-desktop(25, 17);
	}
}

.motto {
	font-size: 20px;
	@media (min-width: 1280px) {
		@include adaptive-font-desktop(30, 20);
	}
}

.about-link {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-row: 1fr;
	text-align: center;

	&__link {
		font-size: 13px;
		align-self: center;
		order: 2;
		text-decoration: underline;
		margin-bottom: 5px;
		@media (min-width: 1280px) {
			@include adaptive-font-desktop(20, 13);
		}
		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&__img {
		align-self: center;
		width: 85%;
		order: 1;
	}
}

.about-link--right {
	grid-template-columns: 80% 20%;
	text-align: center;

	& .about-link__link {
		order: 1;
	}

	& .about-link__img {
		order: 2;
		transform-origin: 50% 45%;
		transform: rotate(180deg);
	}
}

.about-link--up {
	grid-template-columns: 80% 20%;
	text-align: center;

	& .about-link__link {
		order: 1;
	}

	& .about-link__img {
		order: 2;
		transform-origin: 50% 45%;
		transform: rotate(90deg);
	}
}

.header {
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		position: absolute;
		height: 200px;
		@media (min-width: 1280px) {
			@include adaptive-box(300, 200);
		}
		@media (max-width: 400px) {
			height: 180px;
		}
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__logo--simple {
		position: absolute;
		height: 120px;
		width: 80%;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		@media (min-width: 1900px) {
			height: 150px;
		}
		@media (max-width: 1020px) {
			height: 100px;
		}
		@media (max-width: 500px) {
			width: 70%;
		}
	}

	&__subname {
		font-size: 14px;
		padding-bottom: 5px;
		@media (min-width: 1280px) {
			@include adaptive-font-desktop(20, 14);
		}
		z-index: 4;
	}

	&__subname--add {
		visibility: hidden;
		@media (max-width: 1020px) {
			visibility: visible;
		}
	}

	&__name {
		@include adaptive-font(92, 70);
		margin-left: -5px;
		@media (min-width: 1280px) {
			@include adaptive-font-desktop(140, 92);
		}
	}

	&__burger {
		display: none;
		z-index: 8;
		@media (max-width: 1020px) {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			align-self: flex-end;
			margin: 40px 0px;

			&::before,
			&::after {
				content: "";
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 4px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			&.active span {
				transform: scale(0);
			}
		}

		&.active::before {
			transform: rotate(45deg);
			top: 8px;
		}
		&.active::after {
			transform: rotate(-45deg);
			bottom: 8px;
		}
	}
	@media (max-width: 1020px) {
		&__span {
			position: absolute;
			background-color: #fff;
			left: 0;
			width: 100%;
			height: 4px;
			top: 8.4px;
			transition: all 0.3s ease 0s;
		}
	}

	&__menu {
		height: 100px;
		@media (min-width: 1280px) {
			@include adaptive-box(150, 100);
		}
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 12px;
		transition: all 0.3s ease 0s;
		@media (min-width: 1280px) {
			@include adaptive-font-desktop(15, 12);
		}
		@media (max-width: 1020px) {
			position: fixed;
			justify-content: center;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			background-color: #217aff;
			z-index: 4;
			// filter: blur(10px);
		}
		&.active {
			right: 0;
		}
	}

	&__menu--simple {
		z-index: 7;
		@media (max-width: 1020px) {
			background-color: #fa64c7;
		}
	}

	&__list {
		flex: 0 0 30.333%;
		display: flex;
		justify-content: space-between;
		@media (max-width: 1020px) {
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			font-size: 50px;
		}
		@media (max-width: 500px) {
			font-size: 25px;
		}
	}

	&__link {
		@media (max-width: 1020px) {
			line-height: 110px;
		}
		@media (max-width: 500px) {
			line-height: 70px;
		}
		&:active,
		&:hover {
			text-decoration: underline;
		}
	}
}

/* ------------------------ Главная страница ------------------------ */

.main-screen {
	&__container {
		height: calc(100vh - 100px);
		display: grid;
		grid-template-columns: repeat(11, 1fr 50px) 1fr;
		grid-template-rows: repeat(6, 1fr);
		@media (max-width: 1020px) {
			grid-template-columns: repeat(5, 1fr 50px) 1fr;
		}
	}

	&__apple {
		justify-self: center;
		align-self: center;

		grid-column: 8/15;
		grid-row: 1/6;
		@media (max-width: 1020px) {
			grid-column: 4/7;
		}
	}

	&__motto {
		grid-column: -8/-1;
		@media (max-width: 1020px) {
			grid-column: -4/-1;
		}
		@media (max-width: 760px) {
			grid-column: -6/-1;
			grid-row: 4/7;
		}
		grid-row: 1/7;
		align-self: center;
	}

	&__subtitle {
		grid-column: -10/-1;
		@media (max-width: 1020px) {
			grid-column: -5/-1;
		}
		@media (max-width: 760px) {
			grid-column: -7/-1;
			grid-row: 6/7;
		}
		grid-row: 5/7;
		align-self: center;
	}
}

.img {
}

.apple {
	width: 330px;
	height: 300px;
	@media (max-width: 760px) {
		width: 220px;
		height: 210px;
	}
	@media (min-width: 1280px) {
		@include adaptive-width(495, 330);
		@include adaptive-box(450, 300);
	}
	position: relative;
	// transform: translateY(-25%) translateX(-25%);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	&__clrbox {
		grid-column: 1/3;
		grid-row: 1/3;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	&__clrbox--pink01 {
		background-color: #fa64c7;
		grid-column: 3/4;
		grid-row: 1;
	}

	&__clrbox--yellow {
		background-color: #ffbf1b;
		grid-column: 1/4;
		grid-row: 2;
	}

	&__clrbox--pink02 {
		background-color: #fa64c7;
		grid-column: 1/2;
		grid-row: 3;
		z-index: 3;
	}

	&__img {
		justify-self: center;
		align-self: center;
		width: 70%;
		height: 70%;
		grid-column: 1/3;
		grid-row: 1/3;
	}
}

.fabric {
	&__container {
		height: 85vh;
		display: grid;
		grid-template-columns: repeat(11, 1fr 50px) 1fr;
		grid-template-rows: repeat(6, 1fr);
		@media (max-width: 1020px) {
			grid-template-columns: repeat(5, 1fr 50px) 1fr;
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(5, 1fr 20px) 1fr;
		}
	}

	&__pic {
		grid-column: 1/10;
		grid-row: 1/6;
		grid-template-columns: repeat(4, 1fr 50px) 1fr;
		grid-template-rows: repeat(5, 1fr);
		@media (max-width: 1400px) {
			grid-row: 1/5;
		}
		@media (max-width: 1020px) {
			grid-column: 1/6;
			grid-row: 3/6;
		}

		& .pic__pinkbox {
			grid-column: 1/8;
			grid-row: 1/5;
		}

		& .pic__img {
			grid-column: -1/-8;
			grid-row: 2/6;
		}
	}

	&__content {
		grid-column: -1/-11;
		grid-row: 1/6;
		@media (max-width: 1020px) and (min-width: 400px) {
			grid-column: -1/-8;
		}
		@media (max-width: 400px) {
			grid-column: 2/-2;
		}
		display: grid;

		& .content__text {
			justify-self: start;
			align-self: start;
			padding-left: 15%;
			margin-bottom: 4px;
			grid-column: 1/3;
			grid-row: 1/3;
		}

		& .content__title {
			grid-row: 1/3;
			grid-column: 1/3;
		}
	}

	&__about-link {
		grid-column: 11/14;
		grid-row: -2/-3;
		@media (max-width: 1400px) {
			grid-row: -3/-4;
		}
		@media (max-width: 1020px) and (min-width: 400px) {
			grid-column: 7/9;
			grid-row: -2/-3;
		}
		@media (max-width: 400px) {
			grid-column: 9/13;
			grid-row: -2/-3;
		}
	}
}

.pic {
	display: grid;

	&__pinkbox {
		background-color: #fa64c7;
	}

	&__bluebox {
		background-color: #217aff;
	}

	&__img,
	&__img--right {
	}

	&__yellowbox,
	&__yellowbox--right {
		background-color: #ffbf1b;
	}
}

.content {
	&__title {
	}

	&__text {
	}

	&__text--rotate {
		transform-origin: left bottom;
		transform: rotate(90deg);
	}

	&__title--left {
	}
}

.tech {
	&__container {
		height: 95vh;
		display: grid;
		grid-template-columns: 100px repeat(11, 1fr 50px) 1fr 100px;
		grid-template-rows: repeat(7, 1fr);
		@media (min-width: 1920px) {
			grid-template-columns: 160px repeat(11, 1fr 50px) 1fr 160px;
		}
		@media (max-width: 1020px) {
			grid-template-columns: 50px repeat(5, 1fr 50px) 1fr 50px;
		}
		@media (max-width: 768px) {
			grid-template-columns: 20px repeat(5, 1fr 20px) 1fr 20px;
		}
	}

	&__pic {
		grid-column: 1/10;
		grid-row: 1/5;
		@media (max-width: 1020px) {
			grid-area: 1/1/4/9;
		}

		position: relative;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;

		& .pic__yellowbox {
			grid-area: 1/1/2/3;
			width: 100%;
			z-index: 2;
		}

		& .pic__img {
			grid-area: 1/1/5/11;
			align-self: center;
			z-index: 3;
		}
	}

	&__pic--right {
		grid-column: -1/-7;
		grid-row: 3/8;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: -1/-2/-3/-9;
		}
		@media (max-width: 500px) {
			grid-area: -1/-2/-4/-9;
		}

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);

		& .pic__yellowbox--right {
			grid-area: 1/1/5/2;
			z-index: 2;
		}

		& .pic__img--right {
			grid-area: 1/1/6/2;
			justify-self: center;
			z-index: 3;
			@media (max-width: 1020px) {
				width: 35%;
			}
			@media (max-width: 500px) {
				width: 100%;
			}
		}
	}

	&__content {
		grid-area: 1/2/6/15;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 1/3/5/-5;
		}
		@media (max-width: 500px) {
			grid-area: 1/2/5/-7;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		& .content__text {
			grid-area: 1/1/1/3;
			align-self: flex-end;
			@media (max-width: 500px) {
				padding-bottom: 20px;
			}
		}

		& .content__title {
			grid-area: 1/2/1/3;
			transform: rotate(90deg);
			@media (max-width: 500px) {
				padding-bottom: 150px;
				padding-right: 30px;
				align-self: center;
			}
		}
	}

	&__about-link {
		grid-column: -8/-11;
		grid-row: -2/-3;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: -1/-10/-2/-12;
		}
		@media (max-width: 500px) {
			grid-area: -1/-9/-2/-13;
		}
	}
}

.events {
	&__container {
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(11, 1fr 50px) 1fr;
		grid-template-rows: repeat(8, 1fr);
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-template-rows: repeat(8, 1fr);
		}
		@media (max-width: 500px) {
			grid-template-columns: repeat(5, 1fr 20px) 1fr;
			grid-template-rows: repeat(6, 1fr);
		}
	}

	&__content {
		grid-area: 1/1/3/-1;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& .content__text {
			order: 2;
			align-self: flex-end;
			padding: 0 0 1em 0;
			@media (max-width: 1020px) and (min-width: 500px) {
				padding: 0 0 1em 17em;
			}
		}

		& .content__title {
			justify-self: end;
			order: 3;
			@media (max-width: 1020px) and (min-width: 500px) {
				order: 2;
			}
			@media (max-width: 500px) {
				order: 1;
				align-self: flex-end;
				padding-left: 1.6em;
			}
		}

		& .content__title--left {
			justify-self: start;
			align-self: flex-end;
			order: 1;
		}
	}

	&__pic {
		display: grid;
		grid-template-columns: repeat(3, 1fr 50px) 1fr;
		grid-template-rows: repeat(4, 1fr);
		& .pic__yellowbox {
			grid-area: 1/2/4/-1;
		}
		& .pic__img {
			grid-area: 2/1/5/-2;
		}
	}

	&__pic--01 {
		grid-area: 3/-8/7/-1;
		@media (max-width: 1020px) {
			grid-area: 3/-8/6/-1;
		}
	}
	&__pic--02 {
		grid-area: 4/-16/8/-9;
		@media (max-width: 1020px) {
			grid-area: 4/-16/7/-9;
		}
		@media (max-width: 500px) {
			visibility: hidden;
		}
	}
	&__pic--03 {
		grid-area: 5/1/9/8;
		@media (max-width: 1020px) {
			grid-area: 5/1/8/8;
		}
		@media (max-width: 500px) {
			grid-area: 4/1/8/8;
		}
	}

	&__about-link {
		grid-area: -1/8/-2/11;
		@media (max-width: 1020px) {
			grid-area: -2/9/-3/13;
		}
		@media (max-width: 500px) {
			grid-area: -1/8/-2/13;
		}
	}
}

.about {
	margin-top: 10vh;
	@media (max-width: 1020px) and (min-width: 500px) {
		margin-top: 0;
	}

	&__container {
		height: 85vh;
		display: grid;
		grid-template-columns: repeat(11, 1fr 50px) 1fr;
		grid-template-rows: repeat(8, 1fr);
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-template-rows: repeat(6, 1fr);
			height: 85vw;
		}
		@media (max-width: 500px) {
			grid-template-columns: repeat(5, 1fr 20px) 1fr;
			grid-template-rows: repeat(6, 1fr);
		}
	}
	&__content {
		grid-area: 1/1/5/-1;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 1/1/5/-1;
		}
		@media (max-width: 500px) {
			grid-area: 1/1/3/-1;
		}
		& .content__text {
			grid-area: 3/3/-1/5;
			align-self: flex-start;
			justify-self: center;
			@media (max-width: 500px) {
				grid-area: 3/2/-1/5;
			}
		}

		& .content__title {
			grid-area: 1/1/2/-1;
			align-self: flex-end;
		}
	}

	&__pic {
		grid-area: 3/1/-2/10;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 3/1/-2/10;
		}

		& .pic__pinkbox {
			grid-area: 2/1/-1/-2;
		}

		& .pic__img {
			grid-area: 1/2/-2/-1;
		}
	}

	&__about-link {
		grid-area: -2/11/-3/15;
		@media (max-width: 500px) {
			grid-area: -3/8/-1/13;
		}
	}
}

.footer {
	border-top: 2px solid #fff;

	&__list {
		display: flex;
		justify-content: space-between;
		flex: 0 0 30.3333%;
		align-items: flex-end;
		font-size: 12px;
		@media (min-width: 1280px) {
			@include adaptive-font-desktop(15, 12);
		}
		@media (max-width: 1020px) {
			display: none;
		}
	}

	&__list--media {
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex: 0 0 15%;
		align-items: center;
		font-size: 12px;
		@media (min-width: 1280px) {
			@include adaptive-font-desktop(15, 12);
		}
		@media (max-width: 1020px) and (min-width: 500px) {
			flex: 0 0 20%;
			align-self: flex-end;
		}
		@media (max-width: 500px) {
			flex: 0 0 55%;
			align-self: flex-end;
		}
	}

	&__container {
		display: flex;
	}

	&__menu {
		height: 100px;
		@media (min-width: 1280px) {
			@include adaptive-box(150, 100);
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 12px;
		transition: all 0.3s ease 0s;
		@media (min-width: 1280px) {
			@include adaptive-font-desktop(15, 12);
		}
	}

	&__name {
		height: 100%;
		display: flex;
		align-items: center;
	}

	&__subname {
		font-size: 14px;
		padding-bottom: 5px;
		@media (min-width: 1280px) {
			@include adaptive-font-desktop(20, 14);
		}
		@media (max-width: 500px) {
			width: 100px;
		}
	}

	&__link {
		@media (max-width: 1020px) {
			line-height: 110px;
		}
		@media (max-width: 500px) {
			line-height: 70px;
		}
		&:active,
		&:hover {
			text-decoration: underline;
		}
	}
}

/* ------------------------ Страница Фабрика ------------------------ */
.showcase {
	&__mp4 {
		// height: 75vh;
		object-fit: cover;
		object-position: center;
		z-index: -1;
		height: 75vh;
		width: 100%;
		border-bottom: 2px solid #217aff;
	}
	&__video {
		grid-area: 1/1/-1/-1;
		// background-image: url(../img/showcase.jpg);
		border-top: 2px solid #217aff;
		// justify-self: center;
	}

	&__motto {
		grid-area: 1/2/-1/-1;
		align-self: center;
		height: 100px;
		background-color: #217aff;
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 2em;
		z-index: 2;
	}
}

.frst-scrn {
	&__container {
		display: grid;
		grid-template-columns: 100px repeat(11, 1fr 50px) 1fr 100px;
		grid-template-rows: repeat(5, 15vh) repeat(27, 100px);
		@media (min-width: 1920px) {
			grid-template-columns: 160px repeat(11, 1fr 50px) 1fr 160px;
			grid-template-rows: repeat(5, 15vh) repeat(27, 150px);
		}
		@media (max-width: 1020px) {
			grid-template-columns: 50px repeat(5, 1fr 50px) 1fr 50px;
		}
		@media (max-width: 768px) {
			grid-template-columns: 20px repeat(5, 1fr 20px) 1fr 20px;
			grid-template-rows: repeat(5, 15vh) repeat(20, 100px);
		}
	}

	&__showcase {
		grid-area: 1/1/6/-1;
		display: grid;
		grid-template-columns: 1fr 1fr;
		z-index: 1;
	}

	&__pic--01 {
		grid-area: 5/4/9/15;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 5/2/9/-6;
		}
		@media (max-width: 500px) {
			grid-area: 5/1/8/-4;
		}
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
		& .pic {
			&__bluebox {
				grid-area: 1/2/-1/-1;
				z-index: 0;
			}

			&__img {
				grid-area: 1/1/-2/-2;
				z-index: 2;
				& img {
					object-fit: contain;
				}
			}
		}
	}

	&__text--01 {
		grid-area: 7/14/9/-2;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 7/-8/10/-2;
		}
		@media (max-width: 500px) {
			grid-area: 6/-13/10/-2;
		}
		display: flex;
		align-items: center;
		z-index: 1;
	}

	&__pic--02 {
		grid-area: 10/2/15/-2;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 10/2/14/-2;
		}
		@media (max-width: 500px) {
			grid-area: 9/2/11/-2;
		}
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-rows: 1fr 5fr 1fr;
		& .pic {
			&__bluebox {
				grid-area: 1/2/-1/-2;
			}

			&__img {
				grid-area: 1/1/-1/-1;
				& img {
					object-fit: contain;
				}
			}
		}
	}

	&__pic--03 {
		grid-area: 16/1/19/13;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 15/1/18/9;
		}
		@media (max-width: 500px) {
			grid-area: 12/1/15/10;
		}
		display: grid;
		grid-template-columns: 1fr 16fr 1fr;
		grid-template-rows: 1fr 5fr 1fr;
		& .pic {
			&__bluebox {
				grid-area: 2/1/-2/-1;
			}

			&__img {
				grid-area: 1/1/-1/-2;
				// justify-self: flex-end;
				// width: 125%;
				& img {
					object-fit: cover;
					object-position: right;
					// width: 150%;
				}
			}
		}
	}

	&__text--02 {
		grid-area: 19/3/21/14;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 18/2/20/-1;
		}
		@media (max-width: 500px) {
			grid-area: 14/2/18/-1;
		}
		display: flex;
		align-items: center;
	}

	&__text--03 {
		grid-area: 22/-10/25/-1;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 24/2/25/-1;
		}
		@media (max-width: 500px) {
			grid-area: 20/2/21/-1;
		}
		display: flex;
		align-items: center;
	}

	&__pic--04 {
		grid-area: 18/-12/21/-1;
		@media (max-width: 1020px) {
			display: none;
		}

		display: grid;
		grid-template-columns: 1fr 16fr 1fr;
		grid-template-rows: 1fr 16fr 1fr;
		& .pic {
			&__bluebox {
				grid-area: 1/2/-1/-1;
			}

			&__img {
				grid-area: 2/1/-2/-1;
				width: 120%;
				& img {
					object-fit: contain;
					object-position: center;
					// width: 150%;
				}
			}
		}
	}

	&__pic--05 {
		grid-area: 22/1/26/15;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 20/1/24/-3;
		}
		@media (max-width: 500px) {
			grid-area: 17/1/20/-3;
		}
		display: grid;
		grid-template-columns: 1fr 16fr 1fr;
		grid-template-rows: 1fr 16fr 5fr;
		& .pic {
			&__bluebox {
				grid-area: 1/2/-2/-1;
			}

			&__img {
				grid-area: 2/1/-1/-2;
				// width: 85%;
				& img {
					object-fit: cover;
					object-position: right;
					height: 90%;
					// width: 80%;
					// width: 150%;
				}
			}
		}
	}

	&__pic--06 {
		grid-area: 25/-11/32/-2;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 25/-9/32/-2;
		}
		@media (max-width: 500px) {
			grid-area: 21/-9/26/-2;
		}
		display: grid;
		grid-template-columns: 1fr 16fr 1fr;
		grid-template-rows: 1fr 16fr 1fr;
		& .pic {
			&__bluebox {
				grid-area: 2/1/-2/-1;
			}

			&__img {
				grid-area: 1/2/-1/-2;
				& img {
					object-fit: contain;
					object-position: center;
					// width: 150%;
				}
			}
		}
	}
	&__about-link {
		grid-area: 30/-11/32/-14;
		@media (max-width: 1020px) and (min-width: 500px) {
			grid-area: 30/-10/32/-12;
		}
		@media (max-width: 500px) {
			grid-area: 24/2/26/6;
		}
	}
}

/* ------------------------ Страница Технология ------------------------*/

.meet-page {
	&__container {
		height: 75vh;
		display: flex;
	}

	&__object {
		height: 100%;
		align-self: center;
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: repeat(8, 1fr);
		width: 100%;
	}

	&__pink-apple {
		grid-area: 1/4/-1/-4;
		justify-self: center;
		align-self: center;
		z-index: 1;
		@media (max-width: 1020px) and (min-width: 500px) {
			width: 125%;
		}
		@media (max-width: 500px) {
			width: 150%;
			grid-area: 1/3/-1/-5;
		}
	}

	&__grid {
		grid-area: 1/3/-1/-3;
		justify-self: center;
		align-self: center;
		width: 75%;
		z-index: 3;
		@media (max-width: 1020px) and (min-width: 500px) {
			width: 100%;
		}
		@media (max-width: 500px) {
			width: 125%;
			grid-area: 1/2/-1/-4;
		}
	}

	&__motto {
		grid-area: 3/-4/-3/-2;
		justify-self: center;
		align-self: center;
		z-index: 5;
	}

	&__clrbox {
		grid-area: 3/6/-3/-1;
		background-color: #217aff;
		z-index: 4;
		justify-self: flex-end;
		width: 100%;
		@media (max-width: 1020px) and (min-width: 500px) {
			width: 90%;
		}
		@media (max-width: 500px) {
			grid-area: 3/5/-3/-2;
			width: 85%;
		}
	}

	&__clrbox--add {
		grid-area: 3/1/-3/-1;
		background-color: #217aff;
		z-index: 0;
	}
}

.how-works {
	margin-top: 100px;
	&__container {
		display: grid;
		// flex-wrap: wrap;
		// flex-direction: column;
		grid-template-columns: 30% 70%;
		grid-template-rows: 100%;
		@media (max-width: 500px) {
			grid-template-rows: 1fr 1fr 1fr 1fr;
		}
	}

	&__ipad {
		grid-area: 1/2/-1/3;
		@media (max-width: 500px) {
			grid-area: 2/1/4/3;
		}
	}

	&__text {
		align-self: center;
		@media (max-width: 500px) {
			grid-area: 1/1/2/-1;
		}
	}

	&__text--add {
		grid-area: 2/2/-1/-1;
		padding-left: 10%;
		@media (max-width: 500px) {
			grid-area: 4/1/5/-1;
		}
	}
}

.phones {
	margin-top: 100px;
	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 100%;
		grid-column-gap: 50px;
		@media (max-width: 500px) {
			grid-column-gap: 20px;
		}
	}

	&__phone--01 {
	}

	&__phone--02 {
	}

	&__phone--03 {
	}

	&__about-link {
		grid-column: 3/-1;
		width: 40%;
		justify-self: center;
		@media (max-width: 1020px) {
			width: 50%;
		}
		@media (max-width: 500px) {
			width: 50%;
			grid-column: 2/-1;
		}
	}
}

.web-poster {
	margin-top: 100px;
	&__container {
		display: grid;
		grid-template-columns: 70% 30%;
		grid-template-rows: 1fr 1fr 1fr;
		@media (max-width: 500px) {
			height: 400px;
		}
	}

	&__text {
		grid-area: -3/1/1/-1;
		@media (max-width: 500px) {
			grid-area: -4/1/1/-1;
		}
	}

	&__phone {
		grid-area: 1/2/-1/-1;
		height: 80%;
		align-self: flex-start;
		& img {
			object-fit: contain;
		}
	}

	&__ipad {
		grid-area: 1/1/-1/2;
		align-self: flex-end;
		& img {
			object-fit: contain;
		}
	}

	&__about-link {
		grid-area: -1/2/3/-1;
		width: 40%;
		@media (max-width: 500px) {
			width: 100%;
		}
	}
}
